<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            {% if app.user %}
            <a class="navbar-brand" href="{{ url('dashboard', {user: app.user.id}) }}">ALCTJV</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">build</i> Maintenance
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="../sections.html#headers" class="dropdown-item">
                            <i class="material-icons">dns</i> Headers
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">date_range</i> Planning
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="../examples/about-us.html" class="dropdown-item">
                            <i class="material-icons">account_balance</i> About Us
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">settings</i> Administration
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="{{ url('user_list') }}" class="dropdown-item">
                            <i class="material-icons"></i> Gestion des Utilisateurs
                        </a>
                        <a href="{{ url('task_list') }}" class="dropdown-item">
                            <i class="material-icons"></i> Gestion des Tâches
                        </a>
                        <a href="{{ url('meeting_list', {type: 'table'}) }}" class="dropdown-item">
                            <i class="material-icons"></i> Gestion des Evènements
                        </a>
                        <a href="{{ url('send_invitation_code')}}" class="dropdown-item">
                            <i class="material-icons"></i> Invitations
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">

                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="material-icons">face</i>{{ app.user.username }}
                        </a>
                        <div class="dropdown-menu">
                            {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}

                            {#<a href="{{ path('easyadmin') }}" class="dropdown-item">Backoffice</a>#}
                            {#<a href="{{ path('add_user_to_slot') }}" class="dropdown-item">Gestion du Programme TPL</a>#}

                            {#{% endif %}#}
                            {% if app.user %}
                            <a href="{{ path('dashboard', {user: app.user.id}) }}" class="dropdown-item">Tableau de bord</a>
                            {% endif %}
                            <a href="{{ path('fos_user_profile_edit') }}" class="dropdown-item">Editer ton profil</a>
                            <a href="{{ path('fos_user_change_password') }}" class="dropdown-item">Modifier ton mot de passe</a>
                            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item">Deconnexion</a>
                        </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
